<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>depthmapX</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>graph</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>graph.icns</string>
			<key>CFBundleTypeName</key>
			<string>Graph File</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>graph</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>GraphDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>depthmapX</string>
	<key>CFBundleIconFile</key>
	<string>depthmapX.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.spacegroupucl.depthmapX</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>depthmapX</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.business</string>
	<key>LSHasLocalizedDisplayName</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>depthmapXApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.data</string>
			<key>UTTypeDescription</key>
			<string>Graph File</string>
			<key>UTTypeIdentifier</key>
			<string>com.spacegroupucl.graph</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>GRAPH</string>
				</array>
				<key>public.filename-extension</key>
				<string>graph</string>
				<key>public.mime-type</key>
				<string>application/graph</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
